[Desktop Entry]
Name = Send with Wormhole
Type = Service
ServiceTypes = KonqPopupMenu/Plugin
MimeType = application/octet-stream;
X-KDE-Priority = TopLevel
Actions = sendwithwormhole

[Desktop Action sendwithwormhole]
Name = Send with Wormhole
Exec = konsole -e wormhole send %f
Icon = document-send
